.content {
  flex: 1;
  background: var(--color-surface);
  border-radius: 1.5rem;
  color: var(--color-onSurface);
  box-shadow: 0 2px 6px var(--shadow-surface);
  padding: 1.5rem;
  // color: #111;
  border: 1px solid var(--color-outline);

  overflow-y: auto;

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}
