.footer {
  width: 100%;
  background: var(--color-surface);
  padding: 1rem;
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.1);
}
