.header {
  width: 100%;
  background: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 1.875rem;
  font-weight: 700;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
