.sidebar-right {
  background: var(--color-surface);
  border-radius: 1.5rem;
  box-shadow: 0 2px 6px var(--shadow-surface);
  padding: 1rem;
  width: 20%;
  color: var(--color-onSurface);
  height: 300px;
  border: 1px solid var(--color-outline);

  h2 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  p {
    font-size: 0.95rem;
  }
}
