.sidebar {
  background: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  color: #111;

  h2 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &.left {
    width: 20%;
    height: 300px;
  }

  &.right {
    width: 25%;
    height: 300px;
  }
}
