.sidebar-left {
  background: var(--color-surface); // gray-100
  border-radius: 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  color: var(--color-onSurface);
  width: 15%;
  border: 1px solid var(--color-outline);
  height: auto;
  position: sticky;
  top: 1rem;
  align-self: flex-start;

  h2 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #333;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 0.5rem 0;
      padding: 0.6rem 1rem;
      border-radius: 0.75rem;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease;

      a {
        text-decoration: none;
        color: inherit;
        display: block;
        width: 100%;
      }

      &:hover {
        background: #f3f4f6;
        color: #4f46e5;
        transform: translateX(4px);
      }

      &.active {
        background: #4f46e5;
        color: #fff;
        font-weight: 600;
      }
    }
  }
}
